@model ShopTARge22.Models.Cocktails.CocktailViewModel;

<div class="container">
    <h2>Discover new drinks!</h2>
    <h2>@Html.DisplayFor(model=>model.StrDrink)</h2>
    <hr/>
    <dl class="row">
        <div class="form-group row">
            <label asp-for="IdDrink" class="col-sm-2 col-form-label">Id</label>
            @Html.DisplayFor(model => model.IdDrink)
        </div>
        <div class ="form-group row">
            <label asp-for="StrDrinkAlternate" class="col-sm-2 col-form-label">Alternative</label>
            @Html.DisplayFor(model => model.StrDrinkAlternate)
        </div>
        <div class="form-group row">
            <label asp-for="StrTags" class="col-sm-2 col-form-label">Tags</label>
            @Html.DisplayFor(model => model.StrTags)
        </div>
        <div class="form-group row">
            <label asp-for="StrVideo" class="col-sm-2 col-form-label">Video</label>
            @Html.DisplayFor(model => model.StrVideo)
        </div>
        <div class="form-group row">
            <label asp-for="StrCategory" class="col-sm-2 col-form-label">Category</label>
            @Html.DisplayFor(model => model.StrCategory)
        </div>
        <div class="form-group row">
            <label asp-for="StrIBA" class="col-sm-2 col-form-label">IBA</label>
            @Html.DisplayFor(model => model.StrIBA)
        </div>
        <div class="form-group row">
            <label asp-for="StrAlcoholic" class="col-sm-2 col-form-label">Alcoholic</label>
            @Html.DisplayFor(model => model.StrTags)
        </div>
        <div class="form-group row">
            <label asp-for="StrGlass" class="col-sm-2 col-form-label">Glass</label>
            @Html.DisplayFor(model => model.StrGlass)
        </div>
        <div class="form-group row">
            <label asp-for="StrInstructions" class="col-sm-2 col-form-label">Instructions</label>
            @Html.DisplayFor(model => model.StrInstructions)
        </div>
        <div class="form-group row">
            <label asp-for="StrInstructionsES" class="col-sm-2 col-form-label">Instructions ES</label>
            @Html.DisplayFor(model => model.StrInstructionsES)
        </div>
        <div class="form-group row">
            <label asp-for="StrInstructionsDE" class="col-sm-2 col-form-label">Instructions DE</label>
            @Html.DisplayFor(model => model.StrInstructionsDE)
        </div>
        <div class="form-group row">
            <label asp-for="StrInstructionsFR" class="col-sm-2 col-form-label">Instructions FR</label>
            @Html.DisplayFor(model => model.StrInstructionsFR)
        </div>
        <div class="form-group row">
            <label asp-for="StrInstructionsIT" class="col-sm-2 col-form-label">Instructions IT</label>
            @Html.DisplayFor(model => model.StrInstructionsIT)
        </div>
        <div class="form-group row">
            <label asp-for="StrInstructionsZHHANS" class="col-sm-2 col-form-label">Instructions ZHHANS</label>
            @Html.DisplayFor(model => model.StrInstructionsZHHANS)
        </div>
        <div class="form-group row">
            <label asp-for="StrInstructionsZHHANT" class="col-sm-2 col-form-label">Instructions ZHHANT</label>
            @Html.DisplayFor(model => model.StrInstructionsZHHANT)
        </div>
        <div class="form-group row">
            <label asp-for="StrDrinkThumb" class="col-sm-2 col-form-label">Drink Thumb</label>
            @Html.DisplayFor(model => model.StrDrinkThumb)
        </div>
        <div class="form-group row">
            <label asp-for="StrIngredient1" class="col-sm-2 col-form-label">Ingredient 1</label>
            @Html.DisplayFor(model => model.StrIngredient1)
        </div>
        <div class="form-group row">
            <label asp-for="StrIngredient2" class="col-sm-2 col-form-label">Ingredient 2</label>
            @Html.DisplayFor(model => model.StrIngredient2)
        </div>
        <div class="form-group row">
            <label asp-for="StrIngredient3" class="col-sm-2 col-form-label">Ingredient 3</label>
            @Html.DisplayFor(model => model.StrIngredient3)
        </div>
        <div class="form-group row">
            <label asp-for="StrIngredient4" class="col-sm-2 col-form-label">Ingredient 4</label>
            @Html.DisplayFor(model => model.StrIngredient4)
        </div>
        <div class="form-group row">
            <label asp-for="StrIngredient5" class="col-sm-2 col-form-label">Ingredient 5</label>
            @Html.DisplayFor(model => model.StrIngredient5)
        </div>
        <div class="form-group row">
            <label asp-for="StrIngredient6" class="col-sm-2 col-form-label">Ingredient 6</label>
            @Html.DisplayFor(model => model.StrIngredient6)
        </div>
        <div class="form-group row">
            <label asp-for="StrIngredient7" class="col-sm-2 col-form-label">Ingredient 7</label>
            @Html.DisplayFor(model => model.StrIngredient7)
        </div>
        <div class="form-group row">
            <label asp-for="StrIngredient8" class="col-sm-2 col-form-label">Ingredient 8</label>
            @Html.DisplayFor(model => model.StrIngredient8)
        </div>
        <div class="form-group row">
            <label asp-for="StrIngredient9" class="col-sm-2 col-form-label">Ingredient 9</label>
            @Html.DisplayFor(model => model.StrIngredient9)
        </div>
        <div class="form-group row">
            <label asp-for="StrIngredient10" class="col-sm-2 col-form-label">Ingredient 10</label>
            @Html.DisplayFor(model => model.StrIngredient10)
        </div>
        <div class="form-group row">
            <label asp-for="StrIngredient11" class="col-sm-2 col-form-label">Ingredient 11</label>
            @Html.DisplayFor(model => model.StrIngredient11)
        </div>
        <div class="form-group row">
            <label asp-for="StrIngredient12" class="col-sm-2 col-form-label">Ingredient 12</label>
            @Html.DisplayFor(model => model.StrIngredient12)
        </div>
        <div class="form-group row">
            <label asp-for="StrIngredient13" class="col-sm-2 col-form-label">Ingredient 13</label>
            @Html.DisplayFor(model => model.StrIngredient13)
        </div>
        <div class="form-group row">
            <label asp-for="StrIngredient14" class="col-sm-2 col-form-label">Ingredient 14</label>
            @Html.DisplayFor(model => model.StrIngredient14)
        </div>
        <div class="form-group row">
            <label asp-for="StrIngredient15" class="col-sm-2 col-form-label">Ingredient 15</label>
            @Html.DisplayFor(model => model.StrIngredient15)
        </div>
        <div class="form-group row">
            <label asp-for="StrMeasure1" class="col-sm-2 col-form-label">Measure 1</label>
            @Html.DisplayFor(model => model.StrMeasure1)
        </div>
        <div class="form-group row">
            <label asp-for="StrMeasure2" class="col-sm-2 col-form-label">Measure 2</label>
            @Html.DisplayFor(model => model.StrMeasure2)
        </div>
        <div class="form-group row">
            <label asp-for="StrMeasure3" class="col-sm-2 col-form-label">Measure 3</label>
            @Html.DisplayFor(model => model.StrMeasure3)
        </div>
        <div class="form-group row">
            <label asp-for="StrMeasure4" class="col-sm-2 col-form-label">Measure 4</label>
            @Html.DisplayFor(model => model.StrMeasure4)
        </div>
        <div class="form-group row">
            <label asp-for="StrMeasure5" class="col-sm-2 col-form-label">Measure 5</label>
            @Html.DisplayFor(model => model.StrMeasure5)
        </div>
        <div class="form-group row">
            <label asp-for="StrMeasure6" class="col-sm-2 col-form-label">Measure 6</label>
            @Html.DisplayFor(model => model.StrMeasure6)
        </div>
        <div class="form-group row">
            <label asp-for="StrMeasure7" class="col-sm-2 col-form-label">Measure 7</label>
            @Html.DisplayFor(model => model.StrMeasure7)
        </div>
        <div class="form-group row">
            <label asp-for="StrMeasure8" class="col-sm-2 col-form-label">Measure 8</label>
            @Html.DisplayFor(model => model.StrMeasure8)
        </div>
        <div class="form-group row">
            <label asp-for="StrMeasure9" class="col-sm-2 col-form-label">Measure 9</label>
            @Html.DisplayFor(model => model.StrMeasure9)
        </div>
        <div class="form-group row">
            <label asp-for="StrMeasure10" class="col-sm-2 col-form-label">Measure 10</label>
            @Html.DisplayFor(model => model.StrMeasure10)
        </div>
        <div class="form-group row">
            <label asp-for="StrMeasure11" class="col-sm-2 col-form-label">Measure 11</label>
            @Html.DisplayFor(model => model.StrMeasure11)
        </div>
        <div class="form-group row">
            <label asp-for="StrMeasure12" class="col-sm-2 col-form-label">Measure 12</label>
            @Html.DisplayFor(model => model.StrMeasure12)
        </div>
        <div class="form-group row">
            <label asp-for="StrMeasure13" class="col-sm-2 col-form-label">Measure 13</label>
            @Html.DisplayFor(model => model.StrMeasure13)
        </div>
        <div class="form-group row">
            <label asp-for="StrMeasure14" class="col-sm-2 col-form-label">Measure 14</label>
            @Html.DisplayFor(model => model.StrMeasure14)
        </div>
        <div class="form-group row">
            <label asp-for="StrMeasure15" class="col-sm-2 col-form-label">Measure 15</label>
            @Html.DisplayFor(model => model.StrMeasure15)
        </div>
        <div class="form-group row">
            <label asp-for="StrImageSource" class="col-sm-2 col-form-label">Image source</label>
            @Html.DisplayFor(model => model.StrImageSource)
        </div>
        <div class="form-group row">
            <label asp-for="StrImageAttribution" class="col-sm-2 col-form-label"> Image attribution</label>
            @Html.DisplayFor(model => model.StrImageAttribution)
        </div>
        <div class="form-group row">
            <label asp-for="StrCreativeCommonsConfirmed" class="col-sm-2 col-form-label">Creative Commons confirmed</label>
            @Html.DisplayFor(model => model.StrCreativeCommonsConfirmed)
        </div>
        <div class="form-group row">
            <label asp-for="DateModified" class="col-sm-2 col-form-label">Date modified</label>
            @Html.DisplayFor(model => model.DateModified)
        </div>
    </dl>
    <div class="container">
        <form method="get">
            <button asp-controller="Cocktails" asp-action="Index" class="btn btn-success">Index</button>
        </form>
    </div>
</div>
